@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

* {
  cursor: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(255,255,0);
}

.title {
  color: rgb(17, 17, 17);
  font-weight: 900;
  font-size: 150px;
  text-align: center;
  line-height: 0.7;
}

.cursor{
  background-color: rgb(17, 17, 17);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}